<section class="container about-section">
  <section class="headlines">
    <h1>get to know us better</h1>
    <p>Our contemporary designs express the lifestyle and multicultural diversity of Berlin and have been processed with sustainable and high-quality fabrics made of 100% premium cotton and manufactured under fair conditions.</p>
  </section>
</section>
