<section class="home-container">
  <a class="navbar-brand" href="#">
    <%= image_tag("basics_berlin_logo.png", class: "logo-img")%>
  </a>
  <h2>temporary. dummy. text.</h2>
  <%= image_tag("basics_coming_soon.jpg", class: "img-responsive coming-soon-img")%>
</section>
