<section class="home-container">
  <a class="navbar-brand" href="#">
    <%= image_tag("basics_berlin_logo.png", class: "logo-img")%>
  </a>
</section>

<section class="container">
  <h2>Featured Product:</h2>
  <%= @featured_product.name %>
<section>
