  <div class="container panel panel-default">
    <div class="panel-body">
      <p>Thank you. We have received your message and will respond as soon as possible.</p>
    </div><!-- / panel-body -->

    <section class="link-home">
      <%= link_to 'Back to start', root_path %>
    </section>
  </div><!-- / panel -->
