// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//////////////////////////
////////// SHOP //////////
//////////////////////////
.products-section a {
  color: black;
  letter-spacing: 4px;
  font-size: .9em;
  font-weight: 400;
  text-transform: lowercase;
  text-align: center;
  display: block;
  margin-top: 10px;
}

//////////////////////////
////////// SHOW //////////
//////////////////////////
.show-left img {
  max-width: 100%;
}

.show-right a {
  color: #FF0040;
}

///////////////////////////
////////// _FORM //////////
///////////////////////////
.back-link {
  margin: 20px 0;
}

.back-link a {
  color: #FF0040;
  padding-left: 16px;
}

.field textarea,
input {
  width: 100%;
}

.submit-form-btn input {
 width: 130px;
 margin-top: 20px;
}
