// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
th {
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: lowercase;
  font-family: Futura, Helvetica, Arial, sans-serif;
  text-align: center;
}

.container {
  width: 100%;
  margin: 0 auto;
  display: grid;
}

.container th {
  padding: 0 20px;
}
