// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/////////////////////////
///// GENERAL RULES /////
/////////////////////////

//// TYPO STYLES /////

h1,
h2 {
  text-align: center;
  font-weight: 100;
  text-transform: lowercase;
}

h1, a {
  font-family: Futura, Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 3em;
  letter-spacing: 4px;
}

h2 {
  font-size: 1.6em;
  letter-spacing: 10px;
  font-style: italic;
  font-weight: 300;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

h3 {
  font-size: 1em;
  letter-spacing: 3px;
  font-weight: 500;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  text-transform: lowercase;
}

p {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  line-height: 28px;
}

//// SUBPAGES GENERAL LAYOUT /////
.container {
  margin: 150px auto 500px;
}

.container h1 {
  margin-bottom: 40px;
}

//// BUTTONS /////
.form_label {
  border-radius: 20px;
  color: #F00040;
  border-color: #f00040;
  background-color: white;
  letter-spacing: 1px;
  text-transform: lowercase;
  font-size: .8em !important;
  cursor: pointer;
}

//// ALERTS /////
#alert,
#notice {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  letter-spacing: 3px;
  color: white;
  margin-top: 60px;
  text-transform: lowercase;
  text-align: center !important;
  background-color: #F00040;
  line-height: 6px;
}

//// real time update /////
.alert-info {
  background-color: #f1f1f1;
  color: black;
  border: none;
  border-radius: 77px;
  letter-spacing: 4px;
  text-align: center;
  font-style: italic;
  height: 30px;
  padding: 5px;
  font-weight: 100;
  text-transform: lowercase;
  font-size: .8em;
  margin-top: 30px;
}

.new_comment {
  color: #f00040;
  letter-spacing: 6px;
  font-weight: 600;
  text-transform: lowercase;
  margin-bottom: 30px;
}

//////////////////////////
/////// NAVIGATION ///////
//////////////////////////
//// LOGO /////
.logo-icon {
  width: 30px;
  height: auto;
}

//// NAV /////
.bg-light {
  background-color: rgba(255,255,255,100) !important;
}

.ml-auto {
  margin: auto;
}

.navbar-nav{
  font-size: .7em;
  text-transform: lowercase;
  padding: 0 14px;
}

.login-out {
  margin: 0 !important;
}

.navbar-nav a {
  color: black;
  letter-spacing: 4px;
  padding: 0 20px;
}

.nav-item {
  padding: 9px;
}

.navbar-nav a:hover {
  color: grey;
  text-decoration: none;
}

.navbar-toggler {
  border: none;
  font-size: 1em;
}

.search-layout {
  display: flex;
}

.search-area {
  border-radius: 10px;
  border: inset .5px;
  width: 65%;
}

.search-btn {
  margin-left: 3px;
  box-shadow: none;
  border: none;
  cursor: pointer;
  background-color: white;
}

//////////////////////////
////////// HOME //////////
//////////////////////////
//// LOGO /////
.logo-img {
  width: 20%;
  margin: 150px auto 20px;
  display: block;
}

//// MAIN IMAGE /////
.coming-soon-img {
  width: 90%;
  margin: 50px auto;
  display: block;
}

/////////////////////////////////
////////// LANDINGPAGE //////////
/////////////////////////////////
//// CAROUSEL /////
.carousel-item img {
  width: auto;
  margin: 50px auto;
  display: block;
}

.carousel-caption {
  color: white;
  text-transform: lowercase;
  font-size: 2em;
  letter-spacing: 35px;
  font-weight: 400;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

// Indicators //
.carousel-indicators li {
    width: 8px;
    height: 8px;
    margin: 0 10px;
    text-indent: 0;
    border: none;
    border-radius: 50%;
    background-color: none;
    box-shadow: inset .2px .2px .2px .2px rgba(0,0,0,0.5);
}

.carousel-indicators .active {
    width: 8px;
    height: 8px;
    margin: 0 10px;
    background-color: #FF0040;
}

////////////////////////////
////////// DEVISE //////////
////////////////////////////

.sign-in-form {
  width: 20%;
  margin: 60px auto 0;
}

.sign-up-btn input {
  width: 70px;
  border-radius: 10px;
  color: #F00040;
  border-color: #F00040;
  background-color: white;
  letter-spacing: 1px;
  text-transform: lowercase;
  font-size: .8em;
  cursor: pointer;
  margin: 20px 0 2px;
}

.login a {
  color: black;
  letter-spacing: 1px;
  text-transform: lowercase;
  font-weight: 500;
  font-size: .8em;
  cursor: pointer;
  margin-bottom: 10px;
}

.login-section {
  width: 20%;
}

.login-btn input {
  width: 70px;
  border-radius: 10px;
  color: #F00040;
  border-color: #f00040;
  background-color: white;
  letter-spacing: 1px;
  text-transform: lowercase;
  font-size: .8em;
  cursor: pointer;
  margin: 20px 0 2px;
}

/////////////////////////////
////////// CONTACT //////////
/////////////////////////////

.headlines {
  text-align: center;
  margin: 0 auto 60px;
  width: 50%;
}

.contact-form {
  display: block;
  width: 65%;
  margin: 0 auto;
}

.contact-btn {
  float: right;
  width: 55px;
}

///////////////////////////////
////////// THANK YOU //////////
///////////////////////////////
.panel p {
  text-align: center;
  font-size: 2em;
  font-style: italic;
  font-weight: 100;
  letter-spacing: 4px;
  line-height: 45px;
  width: 50%;
  color: #F00040;
  margin: 0 auto;
}

.panel a {
  text-align: center;
}

.link-home {
  width: 96px;
  margin: 40px auto 0;
  color: black;
}

.link-home a {
  color: black;
  text-decoration: none;
  text-transform: lowercase;
  letter-spacing: 2px;
  font-size: .8em;
  text-align: center;
}

////////////////////////////
////////// FOOTER //////////
////////////////////////////
.footer {
  text-align: center;
}

.copyright {
  font-size: .6em;
  letter-spacing: 1px;
}
