<div class="col-12 col-md-4 md-row">
  <% logger.debug "Product name is #{product.name}"%>

  <!--<#%= image_tag(product.image_url, class: "img-fluid") %>-->

  <%= link_to image_tag(product.image_url, class: "img-fluid product-img"), product %>

  <a href="#"><%= link_to(product.name, product) %></a>
  <!--<#%= product.description %>
  <#%= product.colour %>
  <#%= product.price %>-->
</div><!-- /col -->
