<p id="notice"><%= notice %></p>

<div class="container container-fluid">
  <h1>Collection</h1>

  <div class="row products-section">
      <%= render @products %>
  </div>

  <section class="back-link">
    <%= link_to 'New Product', new_product_path %>
  </section>
</div>


<!--<#% @products.each do |product| %>
  <tr class="crazy">
    <h2 class="loco"><#%= product.name %></h2>
    <td><#%= product.description %></td>
    <td><#%= product.image_url %></td>
    <td><#%= link_to 'Show', product %></td>
    <td><#%= link_to 'Edit', edit_product_path(product) %></td>
    <td><#%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<#% end %>-->
